<!-- Страница вывода одной статьи -->
<div class="user_wrapper">
<p>
	<strong>Author:</strong>

	<% if @article.user.avatar.attached? %>
        <%= cl_image_tag @article.user.avatar.key, class: "avatar" %>
    <% else %>
        <%= image_tag "/images/index.png", class: "avatar" %>
    <% end %>

	<%= @article.user.name %>
</p>
</div>

<div class="article_wrapper">
	<p>
		<b>Title:</b>
		<%= @article.title %>
	</p>

	<p>
		<b>Text:</b>
		<%= @article.text %><br>
		<% if @article.user == current_user %>
			<%= link_to 'Edit article', edit_article_path(@article) %>
		<% end %>
	</p>

	
	</div>


<div class="wrapper" id="comments">

	<h2>Comments</h2>
	<div class="comments">
		<%= render @comments %>
		<%= will_paginate(@comments) %>
	</div>


<div class="new-comment">
	<h2>Add a comment:</h2>
	<%= render 'comments/form' %>
</div>

	<%= link_to 'Back', articles_path %>
</div>

